asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.1.0
distlib==0.3.7
Django==4.2
django-bootstrap5==23.4
django-ckeditor==6.5.1
django-crispy-forms==2.1
django-js-asset==2.0.0
django-leaflet==0.29.0
filelock==3.13.1
googlemaps==4.10.0
humanfriendly==10.0
idna==3.4
jsmin==3.0.1
numpy==1.26.3
opencv-python==4.9.0.80
pipenv==2023.11.15
platformdirs==4.0.0
psycopg2==2.9.9
pyreadline3==3.4.1
requests==2.29.0
setuptools==69.0.2
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.15
virtualenv==20.24.7
