{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garba</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
     {% block content %}
        <h1>Garba</h1>

    <div style=" width: 100%;
  max-width: 800px;
  margin: 0 225;
  text-align: center;
  padding: 20px 0;">
        <div class="text-center">
            <img src="{% static 'images/dances/garba1.jpg' %}" class="rounded" alt="Garba">
        </div>
    </div>

    <div class="container-xxl">
        <div class="card">
            <h2>Origin of Garba</h2>

            <p>The term “Garba” comes from the Sanskrit word meaning “womb” or “deep” and bears a deep symbolic interpretation. Originating in Gujarat, this folk dance was first held in Vadodara, a city which is now regarded as the culture capital of Gujarat due to its robust religious influence. Garba is also known as Garbha, Garbha Deep and Garbhi, varying with local dialects of language. The dance celebrates fertility and is performed as a tribute to womanhood.</p>
        <p>The Garba dance is performed around a lantern, a vessel which represents the human body carrying the soul within. As dancers revolve around it in concentric circles, just how Hinduism depicts that time is a cycle, Garba showcases the infinite nature of birth, death and reincarnation. While the entire universe evolves and changes, Goddess Durga and her power within the souls of the dancers is eternal. </p>
        </div>


        <div class="card">
            <h2>Music in Garba Dance</h2>
            <p>In contrast to popular belief, Garba is not just about the dance. From ethnic Dandiya songs like Kanhaiya and O Gori to contemporary Bollywood Garba music, Gujarat introduces you to an array of upbeat music styles belonging to both urban and rural cultures. Dandiya sticks, commonly made from wood can be seen in pairs in the hands of all dancers, who wave the dandiya to choreography and create a rhythmic tempo.

Professional artists play the dhol, drum and double-reed organs or shehnai, which are all Indian percussion instruments considered to be auspicious for the event. With modernization in the early 21st century, bongos, synthesizers, harmoniums and octapads are also easy to spot. </p>
        </div>

        <div class="card">
            <h2>Costumes</h2>
            <p>While the dance is definitely the main focus, dressing up beautifully for it is also equally important. Garba introduces you to some of India’s most exquisite ethnic attires. The traditional costume for males is kediyu which consists of a kafni pajama, a round kurta and a turban embellished with sequins for the head.

Traditional Garba Costumes
Source

Women wear chaniya choli which is a three-piece dress with an intricately embroidered blouse with beads, tiny mirrors and shells, and a flared, long skirt with similar decoration. The dupatta or chuniya is an ornate piece of cloth draped around the head and chest by women. Little girls can be seen wearing Ghagra choli. Both men and women adorn themselves with heavy silver-plated jewellery, sparkling waist belts, maang tika, chunky metal bracelets and jhumkas or hanging earrings. Bold eyeliner or kajal and bindis are equally important parts of the Garba look.</p>
        </div>

        <div class="card">
            <h2>Popular Beliefs</h2>
            <p>When the weather starts to get cool in October, it is time for Garba dance, elaborate fairs and India’s biggest festivals. Get ready to groove with fellow Indians and visit this picturesquely lit country for the nine days of Navratri. If you have further queries, let us know in the comments below.</p>
        </div>

        <div class="card">
            <div class="references">
                <h2>References:</h2>
                <ul>
                    <li><a href="https://www.holidify.com/pages/garba-in-india-5169.html" target="_blank">Holidify</a></li>
                    <!-- Add more references as needed -->
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
ml>